#outer{
    background-color: red;
    height: 200px;
    width:200px;
    margin: 50px;
    padding: 50px;
    box-sizing: border-box;
}
#inner{
    background-color: sandybrown;
    height: 100px;
    width:100px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;

}

#search{
    border: 2px solid black;
}